body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3f3f3f;
}

h1 {
    color: #ffffff;
    margin-bottom: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
    width: 600px;
    height: 600px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
    background-color: #333;
    opacity: 0.5;
}

.winText{
    position: absolute;
    display: none;
    z-index: 100;
    text-align: center;
    width: 190px;
    height: 190px;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    color: white;
    font-family:sans-serif

}

.cell {
    width: 60px;
    height: 60px;
    background-color: #6d6565;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;

}

.cell:empty {
    cursor: pointer;
}

.current .cell{
    background-color: #a2a5c4;
    color: #fff;
}

.current {
    opacity: 1;
}

.won{
    opacity: 0.5;
}

.won .cell{
    background-color: #4CAF50;
    color: #fff;
}

.lost {
    opacity: 0.5;
}

.lost .cell{
    background-color: red;
}

#game-status {
    margin-top: 0px;
    font-size: 18px;
    color: white;
    opacity: 0.5;
}

#restart-button {
    font-size: 16px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    box-shadow: none;
    cursor: pointer;
    border: none;
    text-decoration: underline;
}

#win-text {
    position: absolute;
    z-index: 5000;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

}

#win-text p{
    display: block;
    font-size: 100px;
    opacity: 1;
    margin-bottom: 0;
    padding-bottom: 0;
}   

#win-text p.won {
    color: green;

}

#win-text p.lost {
    color: red;
}

#win-text button {
    display: block;
    color: #ffffff;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 25px;
    opacity: 0.5;
    cursor: pointer;
}